@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";

body {
    background-color: black;
    font-family: "Source Sans 3", sans-serif;
    overflow-x: hidden;
}

.active {
    color: #2563EB;
    /* Tailwind yellow-500 */
    border-bottom: 2px solid #2563EB;
}